

@media (min-width: 768px) {

    .sb-sidenav-collapsed:not(.sb-sidenav-toggled) #layoutSidenav #layoutSidenav_nav {
        width: 125px;
        font-size: .7em;
        text-align: center;
    }
    .sb-sidenav-collapsed:not(.sb-sidenav-toggled) #layoutSidenav #layoutSidenav_content {
        margin-left: -105px;
    }
    .sb-sidenav-collapsed:not(.sb-sidenav-toggled) #layoutSidenav #layoutSidenav_nav .nav-link {
        flex-direction: column;
    }
    .sb-sidenav-collapsed:not(.sb-sidenav-toggled) #layoutSidenav #layoutSidenav_nav .nav-link .sb-nav-link-icon {
        margin-right: 0;
    }
    .sb-sidenav-collapsed .sidebar-brand {
        display: none;
    }

}

/*
#assertionsContainer > div {
    background-color: cadetblue;
    color: white;
    border: 1px solid gray;
}

#assertionsContainer > div > div:first-child {
    width: 100%;
    background-color: gray;
}
*/

#assertionsContainer {
    font-size: 0.6rem;
}

.specificunittests .card-body {
    padding: 0.5rem;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link:hover .sb-nav-link-icon {
    color: white;
}
