body {
    color: #1e1e1e;
    background: #f5f5f5;
}

.litcaltests-header {
    font-size: .8rem;
}

.sourcedata-tests,
.calendardata-tests,
.specificunittests {
    font-size: 0.6rem;
}

.test-results {
    font-size: 0.8rem;
}

.sourcedata-tests .card-body,
.calendardata-tests .card-body,
.specificunittests .card-body {
    padding: 0.5rem;
}

.page-loader .spinner-border {
    width: 4rem;
    height: 4rem;
}

#websocket-status {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 3px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 3px 3px 18px black;
}
